* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 1.25em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #0E181B;
  background-image: url(texture.png);
  background-repeat: repeat; 
}

.header {
  background-color: var(--black);
  color: #fff;
  padding-top: 1em;
  margin: 0px 300px;
  text-align: center;
}

.main h1{
font-weight: 700;
font-size: 6em;
}

.main h3{
  margin-right: 31.5%;
}

.main p{
  margin: 0px 300px;
  text-align: justify;
  padding-top: 0.5em;
}

/* about me */

#image {
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}

.about-me{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2em;
}

.about-me-description {
  font-size: 1.5em;
  color: #fff;
}

.hobbies{
  margin: 0px 300px;
}


